@use '../utils/' as u;

section{
    scroll-margin-block-start: 1rem;

    @include u.breakpoint(medium){
        scroll-margin-block-start: 8rem;
    }
}

// Banner
.parliamentary__banner{
    background-image: url(../images/background__mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 6.3rem);
    position: relative;
    z-index: 10;

    &::after{
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(5, 0, 0, 0.593);
        z-index: -1;
    }

    @include u.breakpoint(medium){
        background-image: url(../images/background__desktop.jpg);
        height: 100vh;
        aspect-ratio: 21 / 9;
    }
}

// Banner Text
.banner__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    z-index: 5;
    width: 100%;
    text-align: center;
    padding-inline: 1rem;
    max-width: 42rem;
    margin: 0 auto;

    .banner__heading{
        font-family: "Raleway", sans-serif;
        line-height: 1.5;
        font-size: 2rem;
    }

    .banner__paragraph{
        margin-block: 1rem;
    }

    @include u.breakpoint(medium){
        max-width: 36.25rem;
        padding: 0;
        text-align: left;
        top: 60%;
        left: 40%;
        transform: translate(-40%, -60%);

            .banner__heading{
                font-size: 3rem;
            }
    }

    @include u.breakpoint(large){
        top: 60%;
        left: 20%;
        transform: translate(-20%, -60%);
    }
}

// Contact Us button
.contact__btn{
    background-color: var(--orange);
    padding: 0.6rem 2.5rem;
    font-size: 1.125rem;
    will-change: transform;
    transition: transform 0.8s ease-in-out;
    color: var(--white);
    margin-block-start: 0.5rem;

    &:hover{
        transform: translateY(-0.5rem);
    }
}

// Scroll down arrow
.banner__scroll-down{
    position: absolute;
    bottom: 2rem;
    right: 1.5rem;

    @include u.breakpoint(medium){
        bottom: 7rem;
        right: 5rem;   
    }

    .banner__arrow{
        color: var(--white);
        font-size: 2.5rem;
        z-index: 1000;
        animation: grow-and-shrink_ 4s infinite ease-in-out alternate;

        @include u.breakpoint(medium){
            font-size: 2rem;
        }
    }
}

@keyframes grow-and-shrink_{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
// Container main
.parliamentary__about_container{
    padding-inline: 2rem;

    @include u.breakpoint(large){
        padding-inline: 3rem;
    }
    
}

.about__section{
    margin-block: 2rem;

    @include u.breakpoint(medium){
        margin-block: 3rem;
    }
}

// Grid section
.about__grid{
    display: grid;   
    grid-template-columns: 1fr;


    .item__4{
        background-color: var(--light-blue);
    }

    @include u.breakpoint(medium){
        grid-template-columns: 1fr 1fr;
        
        .grid__img--1{
            border-top-left-radius: 1rem;
        }

        .item__3{
            grid-column: span 2;
        }

        .item__6{
            grid-area: 4/2/5/3;
            border-bottom-right-radius: 1rem;
        }
    }

    @include u.breakpoint(large){
        grid-template-columns: repeat(3, 1fr);

        .grid__img--1{
            border-top-left-radius: 0;
        }
        .item__1{
            grid-column: span 2;
        }

        .item__2{
            border-top-right-radius: 1rem;
        }
        
        .item__3{
            grid-column: span 1;
        }

        .item__6{
            grid-area: unset;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 1rem;
        }

        .item__7{
            grid-column: span 2;
        }
    }
}

.grid__item{
    background-color: var(--blue);
    color: var(--white);
    padding: 2rem;
    position: relative;

    @include u.breakpoint(medium){
        padding: 3rem 2rem;
    }

    .grid__title{
        font-weight: 600;
    }
    
    .grid__paragraph{
        font-size: 1rem;
        font-weight: 400;
        padding-block: 1rem;
        line-height: 1.8;
    }
}

.grid__image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 7 / 6;
    
    @include u.breakpoint(medium){
        aspect-ratio: 7 / 5;
    }

    @include u.breakpoint(large){
        aspect-ratio: 2 / 1;
    }

    .grid__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: height 0.3s ease;
    }
}

// About Us title
.about__title{
    margin-block: 2rem;
}

// Core values
.parliamentary__core-value{
    flex-direction: column;
    gap: 2rem;
    margin-block: 3rem;

    @include u.breakpoint(medium){
        flex-direction: row;
        gap: 3rem;
    }

    @include u.breakpoint(large){
         gap: 6rem;
    }

    .core__img{
        width: 13rem;
        border-radius: 0.5rem;

        @include u.breakpoint(medium){
            width: 12rem;
            grid-template-columns: 1fr;
        }

        @include u.breakpoint(large){
            width: 20rem;
        }
    }

    .core__grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 0.3rem;
        column-gap: 2rem;

        @include u.breakpoint(large){
            column-gap: 4rem;
        }
    }

    .core__item{
        display: flex;
        align-items: center;
        gap: 0.5rem;

        @include u.breakpoint(medium){
            gap: 1rem;
        }

        .core__icon-container{
            background-color: var(--deep-orange);
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            display: grid;
            place-items: center;

            @include u.breakpoint(medium){
                width: 2.2rem;
                height: 2.2rem;
            }

            @include u.breakpoint(large){
                width: 2.5rem;
                height: 2.5rem;
            }

            .core__icon{
                color: var(--white);
                font-size: 1rem;

                @include u.breakpoint(large){
                    font-size: 1.2rem;
                }
            }
        }

        .core__paragraph{
            font-weight: 600;
        }
    }
}

.about__text,
.course__text,
.testimonials__text{
        color: var(--blue);
        text-align: center;
        font-size: 2.5rem;
    }

.core__header{
    text-align: center;
    margin-block-end: 1rem;

    @include u.breakpoint(medium){
        margin-block-end: 1.5rem;
    }

    .core__title{
        text-transform: uppercase;
    }
}

.course__toggle{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    // padding: 0 1rem;
}

// Accordion section
.parliamentary__course{
    margin-block: 3rem;

    @include u.breakpoint(medium){
        margin-block: 5rem;
    }
}

// .course__text{
//     color: var(--blue);
// }

.container__course{
    margin-block-start: 2rem;
    gap: 1rem;

    @include u.breakpoint(medium){
        gap: 1.5rem;
    }
}

.course__container{

    .accordion__title{
        font-size: 0.8rem;
        padding-block: 1rem;
        padding-inline: 1rem;

        @include u.breakpoint(medium){
            font-size: 1rem;
            padding-block: 1.5rem;
        }
    }

    .course__accordion{
        background-color: var(--accordion-color);
        width: 100%;

        @include u.breakpoint(medium){
            display: flex;
            justify-content: space-between;
            // padding-block: 0.5rem;
        }
    }
    
    .course__syllabus{
        gap: 1rem;
        background-color: var(--orange);
        padding-block: 0.5rem;
        padding-inline: 1rem;
        color: var(--white);
        justify-content: flex-start;

        @include u.breakpoint(medium){
            padding-inline: 0.5rem;
            gap: 0.5rem;
        }

        @include u.breakpoint(large){
            gap: 1rem;
        }
    }

    .course__btn{
        border: 1px solid var(--white);
        border-radius: 50%;
        width: 1.7rem;
        height: 1.7rem;

        @include u.breakpoint(large){
            width: 1.7rem;
            height: 1.7rem;
        }

        .course__arrow{
            color: var(--white);
            font-size: 1rem;

            @include u.breakpoint(large){
                font-size: 0.8rem;
            }
        }

        .course__arrow.rotated{
            transform: rotate(180deg);
        }
    }

    .course__toggle.toggle{
        max-height: 15.625rem;
    // padding: 1rem;
    }
}

// Career section
.course__career{
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 2rem;
    background-color: var(--career-bg);

    @include u.breakpoint(medium){
        flex-direction: row;
    }

    .career__image{
        flex: 1;
    }

    .career__text{
        flex: 1;
        padding-block: 1rem;
    }
}

// Read more link
.hidden{
    display: none;
}

.grid__paragraph-link{
    color: var(---white);
}

// Testimonials section
.parliamentary__testimonials{
    margin-block: 3rem;

    @include u.breakpoint("medium"){
        margin-block: 5rem;
    }

    .testimonials__title{
        line-height: 1.6;
        margin-block-end: 2rem;

        .testimonials__subtitle{
            font-size: 1rem;
            font-weight: 500;
            color: var(--light-blue);
            text-align: center;

            @include u.breakpoint("medium"){
                font-size: 1.5rem;
                font-weight: 600;
            }
        }
    }
}

.testimonials__carousel{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;

    .testimonials__slides{
        display: flex;
        transition: transform 0.5s ease;

        @include u.breakpoint(medium){
            gap: 2rem;
        }
    }

    .testimonials__slider{
        flex: 0 0 100%;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.13);

        @include u.breakpoint(medium){
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            flex: 0 0 50%;
        }
    }
}

.testimonials__image{
    position: relative;
    padding-block-end: 60%;

    @include u.breakpoint(medium){
        position: static;
        padding-block-end: 0%;
    }
}

.testimonials__imgs{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @include u.breakpoint(medium){
        position: static;
        width: 35rem;
        height: 17rem;
    }
}

.testimonial__texts{
    padding: 2rem 1rem;

    @include u.breakpoint(medium){
        padding: 1rem;
    }

    .testimonials__date{
        color: var(--testimonial-color);
    }

    .testimonials__slide-title{
        line-height: 1.4;
        margin-block: 0.5rem;
    }

    .testimonials__paragraph{
        color: var(--testimonial-color);
        font-size: 0.875rem;
    }
}

// Navigation buttons
.testimonials__btn{
    position: absolute;
    background: none;
    margin: 0.8rem 1rem;
    cursor: pointer;

    @include u.breakpoint(medium){
        margin-block: 2rem;
    }

    .slide__arrow{
        font-size: 2rem;
        color: var(--deep-orange);

        @include u.breakpoint(medium){
            font-size: 2.5rem;
        }
    }
}

.testimonials__btn--prev{
    left: 1rem;
}

.testimonials__btn--next{
    right: 1rem;
}

// carousel indicators
.indicators {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-block: 1.2rem;

    @include u.breakpoint(medium){
        margin-block: 2.7rem;
    }
}

.indicators button {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    border: none;
    background-color: var(--carousel-indicator);
    cursor: pointer;
    padding: 0;
}

.indicators button.active{
    background-color: var(--deep-orange);
}