*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: hsla(222, 53%, 43%, 1);
    --light-blue: hsla(222, 62%, 61%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --orange: hsla(8, 72%, 58%, 1);
    --deep-orange: hsla(8, 72%, 55%, 1);
    --accordion-color: hsla(0, 0%, 94%, 1);
    --career-bg: hsla(0, 0%, 98%, 1);
    --carousel-indicator: hsla(0, 0%, 78%, 1);
    --testimonial-color: hsla(0, 0%, 32%, 1);
}

html {
  scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    position: relative;
    color: black;
    position: relative;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Raleway", sans-serif;;
}

img{
    display: block;
    max-width: 100%;
}

.grid{
    display: grid;
    place-items: center;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    outline: none;
    border: none;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

@media (prefers-reduced-motion: reduce){
    .nav__menu,
    .contact__btn,
    .footer__icon,
    .grid__img,
    .course__toggle{
        transition: none;
        animation: none;
    }
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.767);
}